<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" #myForm="ngForm" novalidate>
      <div class="form-group">
        <label class="col-sm-4">Client Name</label>
        <input type="text" class="form-control" name="client_name" formControlName="client_name" #client_name/>
      </div>
      <div *ngIf="angForm.controls['client_name'].invalid && (angForm.controls['client_name'].dirty || angForm.controls['client_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['client_name'].errors.required">
          Client Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4">Client Details</label>
        <input type="text" class="form-control" name="client_detail" formControlName="client_detail" #client_detail/>
      </div>
      <div *ngIf="angForm.controls['client_detail'].invalid && (angForm.controls['client_detail'].dirty || angForm.controls['client_detail'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['client_detail'].errors.required">
          Client Details are required.
        </div>
      </div>
      <div class="form-group">
        <button (click)="addClient(client_name.value, client_detail.value, myForm)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Create Client</button>
      </div>
    </form>
  </div>
</div>
