<table class="table table-hover">
  <thead>
  <tr>
    <td>Add Client Name</td>
    <td>Add Client Details</td>
    <td colspan="2">Actions</td>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let addclient of addclients">
    <td>{{ addclient.client_name }}</td>
    <td>{{ addclient.client_detail }}</td>
    <td><a [routerLink]="['/client-edit', addclient._id]" class="btn btn-primary">Edit</a></td>
    <td><button (click)="deleteAddClient(addclient._id)"  class="btn btn-danger">Delete</button></td>
  </tr>
  </tbody>
</table>
